body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    
}
.name-hightlight{
    color: orange;
}

.half-width{
    width: 43%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 61%;
}

.top-banner{
    /* border: 1px solid; */
    background-repeat: no-repeat;
    background-image: url(image/top-banner.png);
}

section{
    height: 500px;
}