body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
.name-hightlight{
    color: orange;
}

.half-width{
    /* border: 1px solid; */
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 600px;
    height: 600px;
   
}

.top-banner{
    /* border: 1px solid; */
    background-repeat: no-repeat;
    background-image: url(image/top-banner.png);
}

section{
    height: 600px;
    padding-bottom: 100px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon, Tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}